@page "/creating-elements"
@using BlazorFrontEnd.Models

<PageTitle>Creating Elements</PageTitle>

<h3>Creating Elements Performance</h3>

<button class="btn btn-primary" @onclick="AddPerson">Add row</button>
<button class="btn btn-primary" @onclick="() => Render(100)">Render 100</button>
<button class="btn btn-primary" @onclick="() => Render(1000)">Render 1000</button>
<button class="btn btn-primary" @onclick="() => Render(10000)">Render 10000</button>
<button class="btn btn-danger" @onclick="ClearTable">Clear</button>

<PeopleList Persons="_people" />

@code {
    private List<Person> _people = new();
    private readonly List<Person> _people100;
    private readonly List<Person> _people1000;
    private readonly List<Person> _people10000;
    private readonly List<Person> _peopleEmpty = new();
    private readonly Person _prototype = new()
        {
            DateOfBirth = DateOnly.FromDateTime(DateTime.Now),
            FirstName = "John",
            Surname = "Smith",
            Gender = "male"
        };

    public CreatingElements()
    {
        _people100 = new List<Person>();
        for (var i = 0; i < 100; i++)
            _people100.Add(new Person(_prototype));

        _people1000 = new List<Person>();
        for (var i = 0; i < 1000; i++)
            _people1000.Add(new Person(_prototype));

        _people10000 = new List<Person>();
        for (var i = 0; i < 10000; i++)
            _people10000.Add(new Person(_prototype));
    }

    private void AddPerson()
    {
        _people.Add(new Person
            {
                DateOfBirth = DateOnly.FromDateTime(DateTime.Now),
                FirstName = "John",
                Surname = "Smith",
                Gender = "male"
            });
    }

    private void Render(int count)
    {
        _people = count switch
        {
            100 => _people100,
            1000 => _people1000,
            10000 => _people10000,
            _ => throw new ArgumentException("Invalid count", nameof(count))
            };
    }

    private void ClearTable()
    {
        _peopleEmpty.Clear();
        _people = _peopleEmpty;
    }
}
