@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <NavLink href="log-out">Log out</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="register">Register</NavLink>
                    <NavLink href="log-in">Log in</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
